html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
}

@import 'layout';
@import 'headernavbarfooter';
@import 'page-title';
@import 'form-fields';
@import 'details';

// AUTH 
@import 'auth/signin';
@import 'auth/signup';

// ACCOUNT
@import 'account/acct';
@import 'account/order-history';
@import 'account/acct-info';

// e-rest
@import 'e-restaurant/e-restaurant';
@import 'e-restaurant/e-restaurant-search-bar';
@import 'e-restaurant/e-food';

// e-bag
@import 'e-restaurant/e-bag';
@import 'e-restaurant/e-food';

// QUANTITY
@import 'amount';
@import 'chefs-green-price-tag';

// REVIEW
@import 'order/review';
@import 'order/review-food-form';
@import 'order/review-food';

// INFORMATION
@import 'info/pay';
@import 'info/email';
@import 'info/info-help';